.no-space {
    padding: 0px;
    margin: 0px;
    display: inline;
}

.progress {
    height: 5px;
    margin-top: 5px;
}

.badge-pill {
    color: white;
}

.goal_done {
    background-color: #e6e6e6;
}

.img-statistic {
    height: 350px;
    width: 450px;
}

.mrg-statistic {
    margin: 10px;
}

.mrg-no {
    margin: 0px;
    padding: 0px;
}

#toastCat1 {
    z-index: 999;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}